[Unit]
Description=Run DE user creator once on first boot (ly)
ConditionFirstBoot=yes
After=multi-user.target
Before=ly.service display-manager.service

[Service]
Type=oneshot
ExecStart=/usr/bin/de-user-add
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target